<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cms-hugo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header><p>DesignCMS</p></header>
    <main>
        <h1>{{ pageTitle }}</h1>
        <img src="{{ imgThumb }}" alt="{{ pageTitle }}">
       {{ content }}
       <h6>written by: {{ author }}</h6>
</main>
</body>
</html>